body {

}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
#header {
	margin-bottom: 0;
	margin-bottom: 10px;
}
/*#email-icon {
	display: inline-block;
	float: left;
	border: 1px solid blue;*/
}
.region-header {
	width: 600px;
	border: 1px solid black;
}
.block-block {
	width: 100%;
	padding: 0;
	margin: 0;
	padding-top: -10px;
	margin-top: -20px;
}
#phone-icon {
	border: 1px solid black;
}
.block-content {
	width: 450px;
	border: 1px solid green;
}
.block-content li {
	margin-left: 15px;
	float: left;
	/*display: inline;*/
}
.content::after {
	content: "";
	display: table;
	clear: both;
}
.block-content li:first-of-type {
	background: red;
}
.block-content li:nth-of-type(2) {
	background: green;
	width: 130px;
}
.block-content li:nth-of-type(3) {
	background: yellow;
}

/* */

#search-block-form .container-inline {
	border: 1px solid black;
	/*width: 300px;*/
	float: right;
}

#menu-bar.nav.clearfix {
	background: red;
	margin:0;
	padding: 0;
}

#page.container.page #menu-bar #block-superfish-1 { /*width: 70px;*/
	width: 100%;
	/*outline: 1px solid #8B4513;*/
	background: green;
	margin-left: 0;
	padding: 0;
	margin:0;
	/*background: black;*/
}
#page.container.page #menu-bar #block-superfish-1 #superfish-1 li {
	margin: 0;
	width: 125px;
	height: 40px;
	background: #8B4513;  /*korichneviy*/
}
#superfish-1 li:hover  {
	background: blue;
}
.sf-menu.sf-style-default a:hover {
	background: #436EEE; /*royalblue2*/
}
#superfish-1 li a {
	border-right: 1px solid #fff;
	border-left: 0;
	border-top: 0;
	text-align: center;
	color: white;
}
.sf-menu.sf-style-default {
   
    margin-bottom: 0;

}
.container.page#page {
	border: 3px dotted black;
}
/*jd kfdh dkjhf dkjdfh kfjdh fkdjhf dkjfh vjh khjf kjhf k, */
#main-content-header #page-title {
	display: none;
}
#page #columns {
	padding-top: 30px;
}
#content #block-block-1 {
	outline: 2px dotted red;

}
#content #block-block-1::after {
	content: "";
	display: table;
	clear: both; 
}
#content #block-block-1 .column {
	outline: 2px dotted black;
	float: left;
}